[alias]
	gui = !open -a SourceTree .
	st = status
	new = "!f() { git fetch && git checkout --no-track -b $1 origin/master; }; f"
	del-merged = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"
[push]
	default = simple
