[include]
	path = .gitconfig.default
[includeif "gitdir:~/ghq/github.com"]
	path = .gitconfig.github
[alias]
	st = status
	new = "!f() { git fetch --prune && git checkout --no-track -b $1 origin/master; }; f"
	cb = "!f() { git fetch --prune && git checkout -b $1 origin/$1; }; f"
	del-merged = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"
[core]
	excludesfile = ~/.gitignore_global
	ignorecase = false
	editor = nvim
[url "git@github.com:"]
	insteadOf = https://github.com
[push]
	default = current
